.body{
    background: white;
    width: 10%;
    height: 10%;
    position: absolute;
    margin-left: 900px;
}

.title{
    text-align: center;
    color:black;
    font-family: "Arial";

}
.cardEvent{
    align-content: center;
    width: 300px;
    height: 400px;
    background-color: rgba(155, 192, 231, 0.84);

}
.button{
    margin-top: 20px;
    margin-left: 50px;
}

.name{
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: large;
    margin-top: 35px;
    height: 50px;
}
.description{
    font-family: Arial;
    height: 85px;
    margin: 20px;
    text-align: center;
}
.img{
    width: 220px;
    height: 220px;
}
.events{
    margin: 50px;

}
.section{
    text-align: center;

}
.news{
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.03);
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}
.body{
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
}

.title{
    text-align: center;
    font-size: 40px;
    color:black;
    margin-top: 100px;
    font-weight: 100;
    font-family: "Arial";

}
.courses {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin-left: 85px;
    margin-right: 10px;


}

.course {
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    box-shadow: 1px 1px 5px rgb(103, 100, 100);
    background-color: rgba(187, 207, 227, 0.84);

}

.coursecontenido{

    padding: 15px;
    text-align: center;
    justify-content: space-between;

}

.description{
    font-family: "Arial";
    height: 85px;
    text-align: center;
}
.info{
    text-align: center;

}