.head {
    background: rgba(155, 192, 231, 0.84);
    padding-top: 5px
}
.title {
    color: #ffffff;
}

.button {

    background: #408bd7;
    justify-content: center;
    margin: 5%;
}

.form {
    margin: 5% 35%;
    width: 500px;
    text-align: center;
    background: rgba(155, 192, 231, 0.84);
    border: rgb(64, 139, 215) 3px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(155, 192, 231, 0.84)
}

.createAccount{
    padding: 15px;
    cursor: pointer;
}

.createAccount:hover{
    color:#0c94ff
}

.registerInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

.registerButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}