.carruselevent{
    width: 420px;
    height: 420px;
    margin-left: 100px;


}
.body{
    background-color: rgb(255, 255, 255);
}
.events{
    margin: 50px;

}
.section{
    text-align: center;

}
.news{
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.03);
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}
.infoeventos{
    margin: 80px;
}