
.body{
    background-color: rgb(255, 255, 255);
}
.events{
    margin: 50px;

}
.section{
    text-align: center;
    margin-top: 30px;

}
.news{
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.03);
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}
.infoeventos{

    text-align: center;
    margin-top: 120px;
}
.button{
    background-color: #0e6494;
}