.head {
    background: #ffffff;
    padding-top: 5px;
}

.form {
    margin: 2% 30% 10% ;
    text-align: center;
    background: white;
    border: #0c94ff 5px solid;
}

.button {
    background: #408bd7;
    justify-content: center;
    margin: 5%;
}